.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4e1d2;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2d545e;
}

p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.button-container {
    display: flex;
    gap: 1rem;
}

.role-button {
    background-color: #d81159;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.role-button:hover {
    background-color: #8c0038;
}
