body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.host-container {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px black;
  padding: 20px;
}

.text-container, .intro-speech {
  text-align: center;
  background: rgba(167,126,84, 0.9);
  border-radius: 32px 16px 64px 6px;
  padding: 20px;
  margin: 20px;
  max-width: 90%; /* Making sure it doesn't stretch too wide on large screens */
}

.roll-button, .host-container button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #2C3639;
  color: #DCD7C9;
  border: 2px solid #3F4E4F;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* This will make the button take up the full width of its container */
  margin-top: 10px; /* Added margin for spacing */
}

.roll-button:hover, .host-container button:hover {
  background-color: #A27B5C;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #2d545e;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #8c0038;
}

p {
  font-size: 2rem; /* Adjusted font size */
  margin-bottom: 10px; /* Adjusted margin */
  color: #FFF;
  text-align: center;
}
