.prepper-view-container {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px black;
    padding: 20px;
  }
  
  .text-container {
    text-align: center;
    background: rgba(167,126,84, 0.9); /* A semi-transparent background for better readability */
    border-radius: 32px 16px 64px 6px; /* Rounded asymmetric corners */
    padding: 20px;
    margin: 20px;
  }

  .prepper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4e1d2;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-position: center;
}


  .prepper-container h1 {
    font-size: 5rem;
    text-shadow: 2px 2px black;
  }


  .question-card {
    text-align: center;
    background: rgba(167,126,84, 0.9); /* A semi-transparent background for better readability */
    border-radius: 32px 16px 64px 6px; /* Rounded asymmetric corners */
    padding: 20px;
    margin: 20px;
  }
  
  .roll-button {
    padding: 10px 20px;
    font-size: 1.2rem; /* Adjust the font size as needed */
    background-color: #2C3639;
    color: #DCD7C9;
    border: 2px solid #3F4E4F;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .roll-button:hover {
    background-color: #A27B5C;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2d545e;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #8c0038;
}

p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #2d545e;
    text-shadow: 1px 2px white;

}
  